<nb-layout>

  <nb-layout-header fixed>
    <!-- You can insert header content here -->
    <div class="header">
        <h1>Welcome to the Movie Search App!</h1>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <!-- Main content area -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- You can insert footer content here -->
    <div class="footer">
        <p>© 2023 Movie Search App. All rights reserved.</p>
    </div>
  </nb-layout-footer>

</nb-layout>

